---
title: O Fundacji
description: Fundacja Nowe Teraz od 2014 r. udziela wsparcia osobom zmagającym się z różnorodnymi problemami życiowymi.
layout: page
permalink: "/o-fundacji/"
---

<div class="container mx-auto px-4 py-12"> 
    
<h1 class="text-5xl text-center mb-10 leading-tight font-bold font-heading">{{ page.title }}</h1>


  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">

      <h2 class="mt-2 text-2xl leading-8 font-semibold tracking-tight text-gray-600 sm:text-4xl">
        <span class="inline-block pl-3 pr-4 pt-2 pb-4 relative text-white bg-indigo-600" style="border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%"> Nasza Misja</span>
      </h2>
      <p class="mt-4 max-w-2xl text-3xl text-gray-600 lg:mx-auto">
        Udzielanie pomocy i wsparcia osobom zmagającym się z różnorodnymi problemami życiowymi.
      </p>
    </div>

    <div class="mt-20">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-2xl leading-6 font-medium text-gray-900">
              Wsparcie i pomoc
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Fundacja Nowe Teraz od 2014 r. udziela wsparcia osobom zmagającym się z różnorodnymi problemami życiowymi. Naszą misją jest udzielanie wsparcia i pomoc dla osób z niepełnosprawnościami, osób bezdomnych, bezrobotnych, pokrzywdzonych dzieci i młodzieży oraz dzieci i ich rodziców zmagających się z nieuleczalnymi często chorobami.
            </dd>
          </div>
        </div>

        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-2xl leading-6 font-medium text-gray-900">
              Dedykowane programy i projekty
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Naszą misję realizujemy między innymi przy pomocy dedykowanych programów pomocowych. W projekcie "Wykluczeni" staramy się pomóc osobom wykluczonym społecznie, tak aby ułatwić im powrót do normalnego życia. Z kolei z programie "Wiem, bo czytam" aktywnie uczestniczymy w zapobieganiu uzależnieniom i przyczynom przestępczości wśród dzieci i młodzieży.
            </dd>
          </div>
        </div>

        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-2xl leading-6 font-medium text-gray-900">
              Profilaktyka i edukacja
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Prowadzimy także działania profilaktyczne i edukacyjne jak w programie "Salon Dłużnika", gdzie wsparamy osoby, które znalazły się w trudnej sytuacji finansowej, a nadmierne długi nie pozwalają na normalne życie rodzinne, społeczne czy zawodowe.
            </dd>
          </div>
        </div>

        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
          </div>
          <div class="ml-4">
            <dt class="text-2xl leading-6 font-medium text-gray-900">
              Empatia i nadzieja
            </dt>
            <dd class="mt-2 text-base text-gray-500">
              Staramy się, by nasz zespół z wyczuciem kierował i motywował do działania naszych podopiecznych. W naszej misji szczególną uwagę zajmują takie wartości jak poczucie godności, wzajemny szacunek oraz nadzieja.
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>

  {% include section-cta-wolontariat.html %}

  {% include section-team.html %}

  {% include section-donate.html %}

</div>