---
title: Sprzedaż Charytatywna - książki Pawła Cwynara
description: "Były więzień. Pisarz. Obecnie pomaga innym, dzieląc się dorobkiem swoich wieloletnich doświadczeń."
layout: page
permalink: "/sklep-charytatywny/ksiazki-pawla-cwynara/"
---

<div class="container mx-auto px-4 py-12"> 
    
    <h2 class="text-5xl text-center mb-10 leading-tight font-bold font-heading">Książki Pawła Cwynara</h2>
  
    {% assign sorted_books = site.shop | where: "identifier", "Book" | sort: order %}
    {% for books in sorted_books %}
    <section class="py-12 px-4">
        <div class="flex flex-wrap -mx-4">
          <div class="lg:w-1/2 px-4 mb-4 lg:mb-0"><img class="rounded shadow lazyload" data-src="{{ books.image }}" alt="{{ books.title }}"></div>
          <div class="lg:w-1/2 px-4">
            <h2 class="text-4xl mb-4 font-semibold font-heading">{{ books.title | markdownify }}</h2>
            <p class="mb-6 text-gray-400 leading-relaxed">{{ books.content | markdownify | replace: '<p>', '<p class="mb-4 text-gray-600">' }}</p>
            <div class="flex mb-6">
              <div class="flex flex-wrap">
                <div class="w-full">
                 {% include product-add-to-cart.html %}
                </div>
              </div>
            </div>
            <div class="pt-4 border-t">
                Pomoc przy zamówieniu
                <a href="mailto:sklep@noweteraz.pl" class="text-indigo-600 hover:underline" href="#">sklep@noweteraz.pl</a></div>
          </div>
        </div>
      </section>
      {% endfor %}

</div>

{{ site.scripts_lazyload }}