<div class="w-auto px-12 py-5 bg-yellow-400"> 
    <nav class="container mx-auto flex flex-wrap items-center justify-between p-4">
      <div class="lg:order-2 w-auto lg:text-center"><a class="text-xl text-indigo-600 font-semibold font-heading" href="/"><img src="{{ site.logo }}" alt="Logo {{ site.title }}" width="100"></a></div>

      <div class="block lg:hidden">
        <button class="navbar-burger flex items-center py-2 px-3 text-gray-600 rounded border border-gray-600">
          <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
      </div>

      <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
        {% for item in site.header_nav_left %}
        <a class="block lg:inline-block mt-4 lg:mt-0 mr-5 text-gray-900 hover:text-indigo-600 font-bold" href="{{ item[1] }}">{{ item[0] }}</a>
        {% endfor %}
      </div>

      <div class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right">
        {% for item in site.header_nav_right %}
        <a class="block lg:inline-block mt-4 lg:mt-0 mr-5 text-gray-900 hover:text-indigo-600 font-bold" href="{{ item[1] }}">{{ item[0] }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>