<div class="w-auto px-12 py-5 bg-yellow-400"> 
    
    <nav class="container mx-auto flex flex-wrap items-center justify-between p-4">
      
      <div class="lg:order-2 w-auto lg:text-center"><a class="text-xl text-indigo-600 font-semibold font-heading" href="/"><img class="max-w-full h-auto" src="{{ site.logo }}" alt="Logo {{ site.title }}"></a></div>

      <div class="block lg:hidden">
        <button class="navbar-burger flex items-center py-2 px-3 text-gray-600 rounded border border-gray-600">
          <svg class="fill-current h-3 w-3" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
      </div>

      <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5">
        {% for item in site.header_nav_left %}
        <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 hover:text-blue-700 text-gray-900 font-bold" href="{{ item[1] }}">{{ item[0] }}</a>
        {% endfor %}
      </div>

      <div class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right">
        {% for item in site.header_nav_right %}
      <a class="block lg:inline-block mt-4 lg:mt-0 mr-10 hover:text-indigo-600 text-gray-900 font-bold" href="{{ item[1] }}">{{ item[0] }}</a>
        {% endfor %}
      </div>

    </nav>
  
    <section class="container mx-auto py-4 px-4">
      <div class="flex flex-wrap items-center text-center lg:text-left -mx-8 lg:-mx-2">
        <div class="lg:w-1/2 px-2 lg:pr-10 mt-10 lg:mt-0 order-1 lg:order-none">
          <h2 class="text-5xl mb-6 leading-tight font-semibold font-heading text-white">
              Edukujemy   
              <span class="inline-block pl-3 pr-4 pt-2 pb-4 relative text-white bg-indigo-600" style="border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%">Wspieramy </span>
               Inspirujemy</h2>
          <p class="mb-8 leading-relaxed text-3xl font-bold">Wsp&oacute;lne dzia&#322;anie os&oacute;b w trudnej sytuacji &#380;yciowej</p>

        </div>
        <div class="lg:w-1/2 px-2"><img class="max-w-full h-auto" src="/assets/img/fundacja-nowe-teraz-przeciwdzialanie-wykluczeniu-black.svg" alt="Grafika wykluczeni"></div>
      </div>
    </section>
  </div>