<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
</div>
  <script src="https://www.paypal.com/sdk/js?client-id=AbZhdNBNB2yW3gUMNddbTSBZYmILKaEf5wgvqFUMZv5bcJMvdkMF9B0HI0JnSMpIh6ABhVwapTcNuiXe&enable-funding=venmo&currency=PLN" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{"description":"Powiedz mi prawdę o sobie","amount":{"currency_code":"PLN","value":54,"breakdown":{"item_total":{"currency_code":"PLN","value":39},"shipping":{"currency_code":"PLN","value":15},"tax_total":{"currency_code":"PLN","value":0}}}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

            // Show a success message within this page, e.g.
            const element = document.getElementById('paypal-button-container');
            element.innerHTML = '';
            element.innerHTML = '<h3>Thank you for your payment!</h3>';

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();
  </script>
  