<div class="container mx-auto px-4"> 
    <section class="py-8 px-4"><div class="flex flex-wrap items-center max-w-6xl mx-auto">
        <div class="lg:w-1/2 px-4 mb-8 lg:mb-0">
          <img class="max-w-full h-auto" src="/assets/img/undraw_gifts_btw0.svg" alt="Wesprzyj Fundację"></div>
        <div class="lg:w-1/2 px-4 lg:pl-20">
          <h2 class="text-3xl lg:pl-8 lg:border-l-8 font-semibold font-heading">Wesprzyj nasze dzia&#322;ania. Zosta&#324; darczy&#324;c&#261;.</h2>
          <p class="mt-6 mb-8 lg:pl-10 text-gray-500 leading-relaxed">Dzi&#281;ki Twojej darowi&#378;nie b&#281;dziemy mogli skuteczniej pomaga&#263; ludziom w potrzebie. Mo&#380;esz wp&#322;aci&#263; darowizn&#281; na konto lub ustawi&#263; sta&#322;e polecenie zap&#322;aty i regularnie wspiera&#263; nasze dzia&#322;ania.</p>
          <div class="lg:pl-10"><a class="inline-block py-4 px-8 mb-4 sm:mb-0 mr-6 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" href="/wspieram/">Przeka&#380; wsparcie</a>
        </div>
      </div>
    </section>
  </div>
