<section class="bg-yellow-400 py-12 px-4 text-center">
    <h2 class="text-5xl mb-8 font-semibold font-heading">Projekt Wykluczeni</h2>
    <div class="flex justify-center mb-8">
    <div class="max-w-xl mx-auto">
      <p class="mb-16 text-gray-700 text-xl leading-relaxed">
        Nasze wsparcie trafia do osób z niepełnosprawnościami, osób bezdomnych, dzieci potrzebujących profesjonalnej pomocy medycznej oraz ich rodziców wymagających wsparcia psychologicznego oraz finansowego.
      </p>
      <img src="/assets/img/fundacja-nowe-teraz-pomoc-niepelnosprawnym-black.svg" alt="Ikonka osoba na wózku inwalidzkim"></div>
</section>