<section class="text-xl px-10 md:px-20 py-10 md:py-20 bg-gray-50">
<p class="mb-2">Możesz przekazać pomoc dla {{ page.tags }} i bezpośrednio wpłacać pieniądze na nasze konto bankowe: {{ site.legal.account }}. </p>
<p class="mb-2">W tytule przelewu wpisz: <strong>Darowizna na cele statutowe Fundacji Nowe Teraz</strong> lub <strong>Pomoc dla {{ page.tags }}</strong>. </p>
<p>Zachęcamy do <strong>skorzystania z gotowego formularza</strong> do przelewów elektronicznych on-line <a class="text-blue-700 hover:underline" href="https://www.noweteraz.pl/wspieram/">na tej stronie</a>.</p>
</section>