<section class="py-8 px-4"><div class="max-w-3xl mx-auto">
    <h2 class="text-5xl font-semibold text-center"><span class="inline-block pl-3 pr-4 pt-2 pb-4 relative text-white bg-indigo-600" style="border-radius: 91% 9% 90% 10% / 29% 82% 18% 71%">Projekty </span></h2>
    </div>
  </section>

  <section class="py-8 px-4"><div class="flex flex-wrap items-center max-w-5xl mx-auto">
      <div class="lg:w-1/2 px-8 mb-8 lg:mb-0"><img class="max-w-full lg:max-w-sm mx-auto h-auto" src="/assets/img/undraw_Reading_book_re_kqpk-yellow.svg" alt="Program Gloria Victis"></div>
      <div class="lg:w-1/2 px-8 mb-8 lg:mb-0">
        <h3 class="text-3xl mb-2 font-semibold font-heading">Gloria Victis</h3>
        <p class="mb-4 text-gray-500 leading-relaxed">Projekt Gloria Victis ma służyć integracji międzypokoleniowej oraz przypominaniu następnym pokoleniom o patriotyzmie.</p>
      </div>
      <div class="lg:w-1/2 px-8 mb-8 lg:mb-0 lg:order-1"><img class="max-w-full lg:max-w-sm mx-auto h-auto" src="/assets/img/undraw_News_re_6uub-yellow.svg" alt="Program Wykluczeni"></div>
      <div class="lg:w-1/2 px-8">
        <h3 class="text-3xl mb-2 font-semibold font-heading">Wykluczeni</h3>
        <p class="mb-4 text-gray-500 leading-relaxed">Niesiemy pomoc wykluczonym oraz pomagamy zrozumie&#263; decydentom gdzie le&#380;y problem aby skutecznie przeciwdzia&#322;a&#263; zjawisku wykluczenia.</p>
      </div>
    </div>
  </section>

  <section class="py-16 px-4">
    <div class="text-center"><a class="inline-block py-4 px-8 leading-none text-black border border-black hover:bg-black hover:text-white font-semibold rounded" href="/projekty/">Wszystkie Projekty</a></div>
  </section>