---
layout: page
---

<div class="container mx-auto px-4"> 
    <section class="py-12 px-4">
        <h1 class="text-4xl text-center mb-10 font-semibold font-heading">{{ page.title }}</h1>
        <ul class="archive__items">
            {% for post in site.posts %}
              {% assign month = post.date | date: '%m %Y' %}
              {% unless post.next %}
                <h2 class="text-2xl font-semibold mb-2">{{ month }}</h2>
              {% else %}
                {% capture next_month %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
                {% if month != next_month %}
                  <h2 class="text-2xl font-semibold mb-2">{{ month }}</h2>
                {% endif %}
              {% endunless %}
              <li class="mb-8">
                <time class="text-2xl font-semibold text-gray-400 pr-4" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d' }}</time>
                <a class="text-2xl text-gray-900 underline hover:no-underline hover:text-blue-700" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
    </section>
</div>

