---
layout: page
---

<div class="container mx-auto px-4"> 
  <article class="py-20 px-4 max-w-4xl mx-auto">
    <h2 class="text-5xl text-center mb-4 font-heading font-semibold">{{ page.title }}</h2>
    <p class="text-center">
      <time>{{ page.date | date: '%d-%m-%Y' }}</time>
    </p>
    <div class="my-10">
      <img class="object-cover w-full" src="/assets/img/{{ page.image }}" alt="{{ post.title }}">
    </div>
    <div class="text-2xl text-gray-600">
      {{ page.content | markdownify | replace: '<p>', '<p class="mb-4">' | replace: '<a', '<a class="text-blue-700"' | replace: 'src="/uploads/', 'src="/assets/img/uploads/' }}
    </div>

    {% if page.donate == 1 %}
    {% include section-donate-in-post.html %}
    {% endif %}

  </article>
  <nav class="max-w-4xl mx-auto flex flex-wrap flex-col items-center lg:flex-row p-4 mb-8">
    {% if page.previous.url %}
    <div class="flex flex-shrink-0">
      <a class="text-xl text-blue-700 hover:underline font-semibold font-heading" href="{{ page.previous.url }}">&laquo; Poprzedni wpis</a></div>
    {% endif %}
    {% if page.next.url %}
    <div class="mt-4 lg:ml-auto lg:mt-0">
      <a class="mt-0 mb-4 lg:mb-0 mr-8 text-xl text-blue-700 font-semibold font-heading hover:underline" href="{{ page.next.url }}">Następny wpis &raquo;</a>
    </div>
    {% endif %}
  </nav>
</div>


